body{
    min-width: 320px;
    font-size: 14px;
    color: #626262;
}

img{
    max-width: 100%;
    height: auto;
}

a{
    color: #b4ad9e;
}

a:hover{
  color: #898377;
}

p{
line-height: 1.5rem;
}

h2, h3{
    margin: 1rem 0;
}

.ul-header{
 margin-left: auto;
}

header .nav-item{
    text-transform: uppercase;
    margin-left: 50px;
}
header .nav-item a::after{
    content: '';
    display: block;
    width: 100%;
    background-color: #ccc;
    height: 1px;
    transform: scale(0);
    transform: all .3s
}
header .nav-item a:hover::after{
    transform: scale(1);
}

main #slider{
    margin-top: 30px;
    margin-bottom: 30px;
}

.header-two-index{
    font-family: 'Ubuntu', sans-serif;
}

.text-about-author{
    font-family: 'Ubuntu', sans-serif;
}

main img{
    height: 450px;
}

.languages-list img{
    height: 200px;
    border-radius: 15px;
}

.languages-list div{
    margin: 10px 0;
    border-radius: 15px;
}

.about-author{
    margin: 50px 0;
}