body{
    font-family: 'Ubuntu', sans-serif;
}

a{
    color: black;
    text-decoration: none;
}

header{
    height: 50px;
    background-color: #f0f0f0;
}

.card-shadow{
    box-shadow: 5px 5px 5px 5px gray;
    elevation: 80deg;
    border-radius: 3%;
}

.center{
    position: absolute;
    top: 50%;
}

.card{
    border-radius: 3%;
}

.background{
    background-color: #f0f0f0;
}

.card-font-control{
    font-weight: bold;
    font-size: 24px;
}

.card-padding{
    padding-top: 150px;
    padding-bottom: 150px;
}

.main-background{
}

.header-right{
    float: right;
    margin-top: 8px;
    font-size: 20px;
}

#card-button{
    margin: 10px;
}

#card-wrapper{
    font-size: 24px;
    font-weight: bold;
}

#heart{
    height: 40px;
    width: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#header{
    background-color: #f0f0f0;
    padding: 0 140px;
    color: black;
}

#Belinda{
    font-size: 25px;
}

